<div class="format-gallery">
	<div class="content-media">
		<div class="post-slider flexslider">
			<ul class="slides">
				<%galleryData.forEach(function(g,i){%>
					<li>
						<img src="<%=g%>">
					</li>
					<%})%>
			</ul>
		</div>
	</div>
</div>