<article class="col-six tab-full article animate-this">
	<div class="entry-media">
		<a href="post.html" target="_self">
			<img src="assets/single-01.jpg" alt="" style="width: 100%;height: 200px; object-fit:cover;">
		</a>
	</div>
	<div class="entry-body">
		<div class="entry-header">
			<div class="meta-categories">
				<span class="category-prefix">#</span>
				<a href="category.html" rel="category tag">
					旅拍
				</a>
			</div>
			<h1 class="post-title">
				<a href="post.html" target="">想辞职出去浪一把了</a>
			</h1>
			<div class="meta-author-date">
				<span class="meta-date">December 9, 2016</span>
			</div>
		</div>
		<div class="entry-content">
			<p>
				那一天前还对什么都有希望，动力满满的，折腾也乐此不疲。发生变故后，真的是特别消极，意外和明天哪一个会先到，我们谁都不知道。
			</p>
		</div>
	</div>
</article>