<%- include('header',{'type':'category'});%>
		<!-- begin content -->
		<div id="content-wrap" class="styles">
			<div class="row wide">
				<div class="col-eight tab-full">
					<div class="row add-bottom">
						<article class="col-six tab-full article animate-this">
							<div class="entry-media">
								<a href="post.html" target="_self">
									<img src="images/thumbs/featured/featured-2.jpg" alt="" style="width: 100%;height: 200px; object-fit:cover;">
								</a>
							</div>
							<div class="entry-body">
								<div class="entry-header">
									<div class="meta-categories">
										<span class="category-prefix">#</span>
										<a href="category.html" rel="category tag">
											旅拍
										</a>
									</div>
									<h1 class="post-title">
										<a href="post.html" target="">想辞职出去浪一把了</a>
									</h1>
									<div class="meta-author-date">
										<span class="meta-date">December 9, 2016</span>
									</div>
								</div>
								<div class="entry-content">
									<p>
										那一天前还对什么都有希望，动力满满的，折腾也乐此不疲。发生变故后，真的是特别消极，意外和明天哪一个会先到，我们谁都不知道。
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="col-four tab-full">
					<div class="infinity-widget widget_categories">
						<div class="widget-title">
							<h3>Categories</h3>
						</div>
						<p class="category">
							<a href="#" class="current">全部</a>
							<a href="#">旅拍(10)</a>
							<a href="#">心情(36)</a>
							<a href="#">杂文(6)</a>
							<a href="#">系列(12)</a>
							<a href="#">剪辑(6)</a>
							<a href="#">音乐(3)</a>
							<a href="#">电影(6)</a>
							<a href="#">其他(11)</a>
						</p>
					</div>
					<div>
						<img src="https://pandapro.demo.nicetheme.xyz/wp-content/uploads/2019/07/2019072006470679.png" style="width: 100%;" />
					</div>
				</div>
			</div>
			<div class="row">
				<nav class="pagination">
					<span class="page-numbers prev inactive">Prev</span>
					<span class="page-numbers current">1</span>
					<a href="#" class="page-numbers">2</a>
					<a href="#" class="page-numbers">3</a>
					<a href="#" class="page-numbers">4</a>
					<a href="#" class="page-numbers">5</a>
					<a href="#" class="page-numbers">6</a>
					<a href="#" class="page-numbers">7</a>
					<a href="#" class="page-numbers">8</a>
					<a href="#" class="page-numbers">9</a>
					<a href="#" class="page-numbers next">Next</a>
				</nav>
			</div>
		</div>
		<!-- end content -->	
<%- include('footer');%>