
		<!-- begin footer -->
		<footer>
			<div class="footer-main">
				<div class="row">

				</div>
			</div>

			<div class="footer-bottom">
				<div class="row">
					<div class="col-twelve">
						<div class="copyright">
							<span>&copy;1991th.com <span class="year">2016</span>.All Rights Reserved.</span>
						</div>
						<div id="go-top">
							<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<div id="preloader">
			<div id="loader"></div>
		</div>

		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
	</body>

</html>