{
    "ejs": [
        "index.ejs",
        "archives.ejs",
        "category.ejs",
        "message.ejs",
        "about.ejs"
    ],
    "js": [
        "js/main.js",
        "js/jquery.watermark.js",
        "js/paging.js",
        "js/search.js"
    ],
    "css": [
        "css/main.styl"
    ],
    "copy": [
        "css/",
        "fonts/",
        "images/",
        "js/",
        "favicon.ico"
    ],
    "category2Db": true,
    "postTpl": "post.ejs",
    "renderIntro": false,
    "iframeTpl": "_iframe.ejs",
    "videoTpl": "_video.ejs",
    "galleryTpl": "_gallery.ejs",
    "markedRender": {
        "heading": null,
        "table": "<div class='table-responsive'><table><thead>{0}</thead>{1}</table></div>",
        "link": "<a href='{0}' title='{1}' target='{3}'>{2}</a>",
        "image": "<img src='{0}' alt='{2}' width='{4}' height='{5}' style='width:{4}px !important;height:{5}px !important;'>"
    }
}