{
    "ejs": [
        "index.ejs","archives.ejs","category.ejs","message.ejs","about.ejs"
    ],
    "js": [
        "js/main.js","js/jquery.watermark.js","js/paging.js"
    ],
    "css": [
		"css/main.styl"
    ],
    "copy": [
		"css/",
        "fonts/",
		"images/",
		"js/",
		"favicon.ico"
    ],
	"postTpl":"post.ejs",
	"renderIntro": false,
	"iframeTpl":"_iframe.ejs",
	"galleryTpl":"_gallery.ejs"
}