{
    "ejs": [
        "index.ejs","archives.ejs","category.ejs","message.ejs","about.ejs"
    ],
    "js": [
        "js/main.js","js/jquery.watermark.js","js/paging.js"
    ],
    "css": [
		"css/main.styl"
    ],
    "copy": [
		"css/",
        "fonts/",
		"images/",
		"js/",
		"favicon.ico"
    ],
	"postTpl":"post.ejs",
	"renderIntro": false,
	"iframeTpl":"_iframe.ejs",
	"videoTpl":"_video.ejs",
	"galleryTpl":"_gallery.ejs",
	"markedRender":{
		"heading":null,
		"table":"<div class='table-responsive'><table>{0}{1}</table></div>",
		"link":"<a href='{0}' title='{1}' target='{3}'>{2}</a>"
	}
}