<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="zh"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="zh"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="zh">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Style Guide - 样板</title>
		<meta name="description" content="Plucky.Pan,Plucky,plucky@echo.engineer">
		<meta name="author" content="Plucky">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/vendor.css">
		<link rel="stylesheet" href="css/main.css">

		<script src="js/modernizr.js"></script>
		<script src="js/pace.min.js"></script>
		
		<!-- <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script> -->

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
	</head>

	<body id="top">
		<!-- begin header -->
		<header class="short-header">
			<div class="gradient-block"></div>
			<div class="row header-content">
				<div class="logo">
					<a href="index.html">Plucky</a>
				</div>
				<nav id="main-nav-wrap">
					<ul class="main-navigation sf-menu">
						<li><a href="index.html" title="">首页</a></li>
						<li><a href="category.html" title="">分类</a></li>
						<li><a href="archives.html" title="">存档</a></li>
						<li><a href="message.html" title="">留言板</a></li>
						<li><a href="about.html" title="">关于</a></li>
						<li class="has-children">
							<span class="nav-span">星球</span>
							<ul class="sub-menu">
								<li><a href="#">解忧杂货铺</a></li>
								<li><a href="#">风之谷</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="search-wrap">
					<form role="search" method="get" class="search-form" action="#">
						<label>
							<span class="hide-content">Search for:</span>
							<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:"
							 autocomplete="off">
						</label>
						<input type="submit" class="search-submit" value="Search">
					</form>
					<a href="#" id="close-search" class="close-btn">Close</a>
				</div>
				<div class="triggers">
					<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
					<a class="menu-toggle" href="#"><span>Menu</span></a>
				</div>
			</div>
		</header>
		<!-- end header -->

		<!-- begin content -->
		<div id="content-wrap" class="styles">

		</div>
		<!-- end content -->


		<!-- begin footer -->
		<footer>
			<div class="footer-main">
				<div class="row">

				</div>
			</div>

			<div class="footer-bottom">
				<div class="row">
					<div class="col-twelve">
						<div class="copyright">
							<span>&copy;1991th.com <span class="year">2016</span>.All Rights Reserved.</span>
						</div>
						<div id="go-top">
							<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<div id="preloader">
			<div id="loader"></div>
		</div>

		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
	</body>

</html>
