mq-mobile = "screen and (max-width: 479px)"

a.github-corner { 
    position fixed
    z-index 9999
    top 0
    right 0
    &:hover{
        .octo-arm{
            animation:octocat-wave 560ms ease-in-out
        }
    }
    svg{
        fill #f1f1f1
        color #000
        position absolute
        top 0
        border 0
        right 0
        z-index 99
        width 70px
        height 70px
    }
}